* {
    font-family: "Signika Negative", sans-serif;
    background-color: #051f1f;
}

/* Custom Design */

.custom-button {
    /* background-color: #004a4a; */
    border: 2px solid #ffdd00;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    color: #ffdd00;
}

.custom-button:hover {
    box-shadow: 1px 1px 10px 3px #ffdd00;
    color: #e8e8e8;
    transition-duration: .5s;
}

/* Navber section  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navber-logo img {
    height: 80px;
    width: 130px;
}

.nav-child-2 a {
    text-decoration: none;
    background: -webkit-linear-gradient(#ffdd00, #e8e8e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-child-2 h3 a:hover {
    text-shadow: 1px 1px 5px #ffe959;
    font-size: 22px;
    border-bottom: 2px solid #e8e8e8;
    transition-duration: 0.5s;
}


/* Introduce Section */

#introduce-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px 50px 30px;
}

.hi-nur-islam {
    font-weight: 500;
    font-size: 32px;
    color: #37403d;
    margin: 0;
}

.Nur {
    font-weight: bold;
    font-size: 38px;
    background: -webkit-linear-gradient(#ffdd00, #e8e8e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 30%;
}

.introduce-names {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #37403d;
}

.name-animation {
    color: #ffdd00;
    background: -webkit-linear-gradient(#ffdd00, #e8e8e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.name-animation::after {
    content: "";
    position: absolute;
    left: 0;
    height: 115%;
    width: 100%;
    background-color: #051f1f;
    border-left: 2px solid #e8e8e8;
    animation: typing 3s steps(15) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
    }
}

.introduce-section-child-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.introduce-section-child-2 img {
    height: 300px;
    width: 300px;
    border: 2px double #ffdd00;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 1px 1px 10px 3px #ffdd00;
    transition: transform 1.5s;
}

.introduce-section-child-2 img:hover {
    animation-name: rotate;
    animation-duration: 1.5s;
    transform: scale(1.2);

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#icon-image {
    margin-top: 20px;
}

#icon-image img {
    height: 25px;
    width: 25px;
    border: 2px solid gold;
    border-radius: 50%;
    padding: 3px;
    box-shadow: none;
    margin-left: 10px;

}

#icon-image img:hover {
    box-shadow: 1px 1px 10px 3px #ffdd00;
}

/* clients-happy-experience */

#clients-happy-experience {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#clients-happy-experience div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    color: #e8e8e8;
}

#clients-happy-experience div h2 {
    font-size: 50px;
    color: #ffdd00;
}


/* services & What I Do Section */

.services {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #37403d;
    text-align: center;
    margin: 20px 0 0 0;
    opacity: 30%;
}

.what-i-do {
    height: 20px;
    width: 150px;
    text-align: center;
    position: relative;
    bottom: 80px;
    margin: 0 550px;
    background-color: transparent;
}

/* service-type */
#all-services-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 20px 50px;
}

.service-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ffe959;
    border-radius: 10px;
    opacity: 50%;
}

.service-type:hover {
    opacity: 100%;
}

.service-type img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.services-title {
    margin: 0;
    color: #e8e8e8;
}

.service-type div p {
    color: #37403d;
    text-align: justify;
}

/* my-education-experience */

#Education-Experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 20px 100px;
}

.my-education-experience {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 50px;
    color: #e8e8e8;
}

.button-education-experience {
    background-color: #37403d;
    color: #e8e8e8;
    font-weight: 800;
    padding: 5px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

.button-education-experience:hover {
    background-color: #37403d;
    color: black;
    box-shadow: 1px 1px 2px 3px #ffdd00;
}

.education-expericence-title{
    color: #ffdd00;
    font-weight: 700;
    margin-top: 10px;
}

.education-experience-tag{
    color: #e8e8e8;
    font-weight: 800;
    margin: 0;
}

.education-experience-information{
    color: #37403d;
    font-weight: 500;
    text-align: justify;
}





/* Mobile Device  */
@media screen and (max-width: 576px) {

    /* navber section */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav-child-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* Introduce Section */

    #introduce-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .name-animation {
        font: 900;
        font-size: xx-large;
        margin: 0 50px;
        text-align: center;
    }

    /* clients-happy-experience */

    #clients-happy-experience {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* services & What I Do Section */

    .services {
        font-family: sans-serif;
        font-weight: 900;
        font-size: 80px;
        color: #37403d;
        text-align: center;
        margin: 20px 0 0 0;
        opacity: 30%;
    }

    .what-i-do {
        height: 0x;
        width: 100px;
        position: relative;
        bottom: 65px;
        left: 170px;
        margin: 0;
    }

    .service-what-i-d0 {
        display: flex;
        flex-direction: column;
    }

    /* service-type */
    #all-services-parent {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 50px;
    }

    .service-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px;
        border: 1px solid #ffe959;
        border-radius: 10px;
        opacity: 40%;
    }

    .service-type div {
        text-align: center;
    }

    /* my-education-experience */

    #Education-Experience {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin: 20px 50px;
    }


}